.garrafon {
    width: 100vw;
}

.top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
}

.bottom-center {
    position: absolute;
    bottom: 30px;
    left: auto;
    right: auto;
    color: white;
    transform: translate(-50%, 0);
}