<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Elige o ingresa una nueva dirección</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="margin-top: 2rem; width: 80vw; margin-left: 10vw">
        <ion-input id="txtHome" type="text" [(ngModel)]="inputDir" name="direccion"></ion-input>
    </ion-item>
    <ion-list *ngIf="direcciones.length > 0" style="margin-top: 1rem">
        <ion-list-header>
            <ion-label>Mis direcciones</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of direcciones" deatil>
            <ion-label class="ion-text-wrap">{{item.direccion}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>