ion-content.background {
    --background: url(../../../assets/img/login.webp) 0 0/100% 100% no-repeat;
    --webkit-background-size: cover;
}

.btn-salir {
    position: absolute;
    left: 2px;
    top: 2px;
}

.formulario {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
}

.mr-5 {
    margin-right: 0.5rem;
}

.hr {
    border-bottom: 1px solid var(--ion-color-medium);
}