.img {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: green;
    position: relative;
}

fondo {
    position: absolute;
    height: 100%;
    widows: 30vw;
    bottom: -10;
}