.fondo {
    position: absolute;
    height: 100vh;
}

.formulario {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
}

.btn-face {
    --background: #3b5998;
}

.btn-google {
    --background: #516aa0;
}

.btn-email {
    --background: #677ca8;
}

.ml-5 {
    margin-left: 0.5rem;
}