.btn-salir {
    position: absolute;
    left: 2px;
    top: 2px;
}

.formulario {
    margin: 1rem;
}

.mr-5 {
    margin-right: 0.5rem;
}

.hr {
    border-bottom: 1px solid var(--ion-color-medium);
}