<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Entregar en:</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="direccion.direccion; else elseTemplate">
        <ion-item lines="none">
            <ion-label style="text-align: center" class="ion-text-wrap">{{direccion.direccion}}</ion-label>
        </ion-item>
        <ion-button fill="clear" color="medium" (click)="muestraDirecciones()">
            Cambiar dirección
        </ion-button>
    </ng-container>
    <ng-template #elseTemplate>
        <ion-button expand="block" color="dark" shape="round" (click)="muestraDirecciones()">
            Agregar dirección de entrega
        </ion-button>
    </ng-template>
    <agm-map style="height: 50vh" [latitude]="direccion.lat" [longitude]="direccion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom" [zoomControl]="false">
        <agm-marker *ngIf="dirReady" [iconUrl]='{"url": icon,"scaledSize": {"height": 120, "width": 80}}' [latitude]="direccion.lat" [longitude]="direccion.lng" [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
    </agm-map>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="generarPedido()" style="margin-top: 0.5rem" [disabled]="!dirReady" shape="round" expand="block">
            Continuar
        </ion-button>
    </ion-toolbar>
</ion-footer>