<ion-content class="background">
    <div>
        <ion-button fill="clear" (click)="mostrarQr()">
            <ion-icon color="light" slot="icon-only" name="barcode"></ion-icon>
        </ion-button>
    </div>
    <div *ngIf="productos" class="foto">
        <ion-img [src]="productos[0].foto"></ion-img>
        <ng-container *ngIf="!productos[0].cantidad; else botones">
            <ion-button expand="block" (click)="agregar(0)" class="boton-add" fill="clear">
                Agregar
            </ion-button>
        </ng-container>
        <ng-template #botones>
            <ion-button expand="block" class="boton-add" color="primary" size="small">
                <ion-grid fixed class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="quitar(0)">
                            -
                        </ion-col>
                        <ion-col class="ion-no-padding ion-align-self-center" size="6">
                            <ion-input readonly="true" class="inpu" type="number" [(ngModel)]="productos[0].cantidad"></ion-input>
                        </ion-col>

                        <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="sumar(0)">
                            <strong>+</strong>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-button>
        </ng-template>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <div class="precio">
            Cuenta: {{cuenta | currency:'CAD':'symbol-narrow':'1.0-2'}}
        </div>
        <ion-button [disabled]="cuenta === 0" color="primary" shape="round" expand="block" (click)="verMapa()">
            Hacer pedido
        </ion-button>
    </ion-toolbar>
</ion-footer>