ion-content.background {
    --background: url(../../../assets/img/fondo.png) 0 0/100% 100% no-repeat;
    --webkit-background-size: cover;
}

.install-btn {
    position: absolute;
    top: 3px;
    right: 3px;
}

.foto {
    width: 60vw;
    margin-top: 0.25rem;
    margin-left: 20vw;
}

.boton-add {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.bottom-center {
    position: absolute;
    width: 80vw;
    bottom: 100px;
    left: 10vw;
}

.div-precio {
    display: flex;
    margin: 1rem auto;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 3px 3px 10px grey;
}

.precio {
    color: var(--ion-color-primary);
    font-size: 25pt;
    text-align: center;
    margin: auto;
}

.horario {
    color: var(--ion-color-primary);
    font-size: 16pt;
    text-align: center;
    margin: 2rem auto;
}

.foot-btn {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 1rem;
}

.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.795);
    z-index: 20;
    top: 0;
    left: 0;
}

.btn-hide {
    position: absolute;
    width: 90vw;
    margin-left: 5vw;
    bottom: 3rem;
}

.parrafo {
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
    font-style: oblique;
    color: white;
}