.garrafon {
    width: 100vw;
}

.top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
}

.bottom-center {
    position: absolute;
    width: 80vw;
    bottom: 100px;
    left: 10vw;
    // right: auto;
    // color: white;
    // transform: translate(25%, 0);
}

.column {
    float: left;
    padding: 10px;
    height: 15vh;
    /* Should be removed. Only for demonstration */
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    border-radius: 500px;
    overflow: hidden;
}