.garrafon {
    width: 100vw;
}

.top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
}

.bottom-center {
    position: absolute;
    width: 80vw;
    bottom: 100px;
    left: 10vw;
}

.column {
    float: left;
    height: 7.5vh;
    text-align: center;
    position: relative;
    color: white;
    /* Should be removed. Only for demonstration */
}

.left,
.right {
    width: 35%;
    background-color: var(--ion-color-primary);
}

.middle {
    width: 30%;
}

.row {
    border-radius: 500px;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
}