<ion-header no-border *ngIf="!pedidoActivo">
    <ion-toolbar>
        <ng-container *ngIf="!enProceso; else elseTemplate">
            <ion-buttons slot="end">
                <ion-button (click)="mostrarQr()">
                    <ion-icon color="primary" slot="icon-only" name="barcode"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-container>
        <ng-template #elseTemplate>
            <ion-buttons slot="start">
                <ion-button (click)="regresar()">
                    <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title color="primary">Entregar en:</ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-grid fixed>
                <ion-row *ngFor="let prod of productos; let i = index">
                    <ion-col size="12">
                        <ion-card style="--background: white">
                            <ion-row>
                                <ion-col size="8">
                                    <ion-item lines="none">
                                        <ion-row>
                                            <ion-col size="12">
                                                <ion-label class="ion-text-wrap">
                                                    <h2 style="color:var(--ion-color-primary);">{{prod.nombre}}</h2>
                                                    <h5>{{prod.precio | currency:'CAD':'symbol-narrow':'1.0-2'}} / {{prod.unidad}}</h5>
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="12">
                                                <div>
                                                    <ng-container *ngIf="!prod.cantidad; else botones">
                                                        <ion-button expand="block" (click)="agregar(i)" class="boton-add" color="primary" size="small">
                                                            Agregar
                                                        </ion-button>
                                                    </ng-container>
                                                    <ng-template #botones>
                                                        <ion-button expand="block" class="boton-add" color="primary" size="small">
                                                            <ion-grid fixed class="ion-no-padding">
                                                                <ion-row class="ion-no-padding">
                                                                    <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="quitar(i)">
                                                                        -
                                                                    </ion-col>
                                                                    <ion-col class="ion-no-padding ion-align-self-center" size="6">
                                                                        <ion-input readonly="true" class="inpu" type="number" [(ngModel)]="prod.cantidad"></ion-input>
                                                                    </ion-col>

                                                                    <ion-col class="ion-no-padding ion-align-self-center" size="3" (click)="sumar(i)">
                                                                        <strong>+</strong>
                                                                    </ion-col>
                                                                </ion-row>
                                                            </ion-grid>
                                                        </ion-button>
                                                    </ng-template>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="4">
                                    <img [src]="prod.foto" style="width: 80%; margin-left: 10%"> <br>
                                </ion-col>
                            </ion-row>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>

        </ion-slide>
        <ion-slide>
            <div style="position: relative; height: 100%; width: 100%;">
                <agm-map style="height: 100vh" [latitude]="direccion.lat" [longitude]="direccion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom" [zoomControl]="false" [fitBounds]="true">
                    <agm-marker [agmFitBounds]="true" *ngIf="dirReady" [iconUrl]='{"url": icon,"scaledSize": {"height": 75, "width": 50}}' [latitude]="direccion.lat" [longitude]="direccion.lng" [animation]="'DROP'"></agm-marker>
                    <agm-marker [agmFitBounds]="true" *ngIf="choferReady" [iconUrl]='{"url": truck,"scaledSize": {"height": 75, "width": 50}}' [latitude]="chofer.lat" [longitude]="chofer.lng" [animation]="'DROP'"></agm-marker>
                </agm-map>
                <div class="cuadro">
                    <ng-container *ngIf="!choferReady; else repaTemplate">
                        <ion-item lines="none">
                            <ion-spinner style="margin: auto" color="primary" name="bubbles"></ion-spinner>
                        </ion-item>
                        <ion-item lines="none" style="text-align: center">
                            <ion-label>
                                <h2>Asignando repartidor</h2>
                                <p class="ion-text-wrap">Por favor espere mientras encontramos el repartidor más cercano</p>
                            </ion-label>
                        </ion-item>
                    </ng-container>
                    <ng-template #repaTemplate>
                        <div style="width: 100%; height: 100%;">
                            <ion-item lines="none" style="margin-top: 1rem">
                                <ion-avatar slot="start">
                                    <img [src]="chofer.foto" />
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{chofer.nombre}}</h2>
                                </ion-label>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-button slot="end">
                                    Llamar
                                </ion-button>
                            </ion-item>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer no-border *ngIf="!pedidoActivo">
    <ion-toolbar>
        <ng-container *ngIf="enProceso; else footTemplate">
            <ion-button (click)="generarPedido()" style="margin-top: 0.5rem" [disabled]="!dirReady" shape="round" expand="block">
                Continuar
            </ion-button>
        </ng-container>
        <ng-template #footTemplate>
            <div class="div-precio">
                <div class="precio">
                    {{cuenta | currency:'CAD':'symbol-narrow':'1.0-2'}}
                </div>
            </div>
            <ion-button [disabled]="cuenta === 0" color="primary" shape="round" expand="block" (click)="verMapa()">
                Hacer pedido
            </ion-button>
        </ng-template>
    </ion-toolbar>
</ion-footer>