<ion-content fixed>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="position: relative;">
                <img class="garrafon" src="../../assets/img/garrafon.png" alt="">
                <div class="div-precio">
                    <p class="precio">{{cuenta | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%">
                <ion-grid fixed>
                    <ion-row class="ion-justify-content-start">
                        <ion-col size="2">
                            <ion-button (click)="regresar()" fill="clear">
                                <ion-icon slot="start" slot="icon-only" name="arrow-back"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="10">
                            <h2 class="titulo">Entregar en:</h2>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ng-container *ngIf="direccion.direccion; else elseTemplate">
                    <ion-item lines="none">
                        <ion-label style="text-align: center" class="ion-text-wrap">{{direccion.direccion}}</ion-label>
                    </ion-item>
                    <ion-button fill="clear" color="medium">
                        Cambiar dirección
                    </ion-button>
                </ng-container>
                <ng-template #elseTemplate>
                    <ion-button fill="clear" (click)="muestraDirecciones()">
                        Agregar dirección
                    </ion-button>
                </ng-template>
                <div style="margin-bottom: 0">
                    <agm-map [latitude]="direccion.lat" [longitude]="direccion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom">
                        <agm-marker *ngIf="dirReady" [iconUrl]='{"url": icon,"scaledSize": {"height": 120, "width": 80}}' [latitude]="direccion.lat" [longitude]="direccion.lng" [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>

<ion-footer no-border *ngIf="!enProceso">
    <ion-toolbar>
        <ion-grid fixed class="ion-no-padding">
            <ion-row class="ion-no-padding" style="text-align: center">
                <ion-col size="5" class="ion-align-self-center">
                    <ion-button shape="round" expand="block" color="secondary" (click)="quitar()">
                        <p style="font-size: 22pt; margin: 0; padding: 0">-</p>
                    </ion-button>
                </ion-col>
                <ion-col size="2" class="ion-align-self-center">
                    <p style="font-size: 30pt; margin: 0; padding: 0">{{pedido.cantidad}}</p>
                </ion-col>
                <ion-col size="5" class="ion-align-self-center">
                    <ion-button shape="round" expand="block" color="primary" (click)="agregar()">
                        <p style="font-size: 22pt; margin: 0; padding: 0">+</p>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button color="primary" shape="round" expand="block" (click)="verMapa()">
                        HACER PEDIDDO
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>