.garrafon {
    width: 100vw;
    margin-top: -2px;
}

.top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
}

.bottom-center {
    position: absolute;
    width: 80vw;
    bottom: 100px;
    left: 10vw;
}

.div-precio {
    display: flex;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, var(--ion-color-primary), var(--ion-color-secondary));
    box-shadow: 3px 3px 10px grey;
}

.precio {
    color: white;
    font-size: 25pt;
    text-align: center;
    margin: auto;
}

agm-map {
    height: 75vh;
}