<ion-content fixed>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="position: relative;">
                <img class="garrafon" src="../../assets/img/garrafon.png" alt="">
                <div class="div-precio">
                    <p class="precio">{{cuenta | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="2">
                            <ion-button (click)="regresar()" fill="clear">
                                <ion-icon slot="start" slot="icon-only" name="arrow-back"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="10">
                            <h5 class="titulo">Entregar en:</h5>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ng-container *ngIf="direccion; else elseTemplate">
                    <ion-button fill="clear">
                        Cambiar dirección
                    </ion-button>
                    <ion-label>{{direccion}}</ion-label>
                </ng-container>
                <ng-template #elseTemplate>
                    <ion-button fill="clear">
                        Agregar dirección
                    </ion-button>
                </ng-template>
                <ion-item>
                    <ion-input id="txtHome" type="text" [(ngModel)]="direccion" name="direccion"></ion-input>
                </ion-item>
                <agm-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom">
                    <agm-marker *ngIf="dirReady" [iconUrl]='{"url": icon,"scaledSize": {"height": 120, "width": 80}}' [latitude]="lat" [longitude]="lng" [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>

<ion-footer no-border *ngIf="!enProceso">
    <ion-toolbar>
        <ion-grid fixed class="ion-no-padding">
            <ion-row class="ion-no-padding" style="text-align: center">
                <ion-col size="5" class="ion-align-self-center">
                    <ion-button shape="round" expand="block" color="secondary" (click)="quitar()">
                        <p style="font-size: 22pt; margin: 0; padding: 0">-</p>
                    </ion-button>
                </ion-col>
                <ion-col size="2" class="ion-align-self-center">
                    <p style="font-size: 30pt; margin: 0; padding: 0">{{pedido.cantidad}}</p>
                </ion-col>
                <ion-col size="5" class="ion-align-self-center">
                    <ion-button shape="round" expand="block" color="primary" (click)="agregar()">
                        <p style="font-size: 22pt; margin: 0; padding: 0">+</p>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button color="primary" shape="round" expand="block" (click)="ordenar()">
                        HACER PEDIDDO
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>